.header {
  min-height: 75px;
  max-height: 75px;
  width: 100%;
  background-color: #00567F;
  margin-bottom: 10px;
}

.header-label {
  color: #92B761;
  font-size: 24px;
  margin-left: 2rem;
  margin-bottom: 0;
  margin-top: 18px;
}

.content-div {
  margin: auto;
}

.logo {
  height: 64px;
  width: 162px;
  margin-bottom: 7px;
  margin-left: 15px
}