

.search-bar .react-autosuggest__container {
  position: relative;
}

.search-bar .react-autosuggest__suggestions-container {
  display: none;
}

.search-bar .react-autosuggest__container input {
  padding-left: 10px !important;
  width: 100%;
  border: 1px solid #979797;
  font-size: 14px;
  line-height: 16px;
  height: 35px;
}

.search-bar .react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  border: 1px solid #979797;
  border-top: none;
  background-color: #fff;
  font-size: 14px;
  z-index: 20;
  width: 100%;
}

.search-bar .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 200px;
  overflow-y: auto;
}

.search-bar .react-autosuggest__suggestion {
  cursor: pointer;
  padding: 5px 10px;
}

.search-bar .react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.search-bar {
  padding: 2px;
  margin-top: 1px;
  width: 95%;
  background-color: #ffffff;
  z-index: 99999;
}

.searchResult-container {
  margin: 5px 5px 10px 5px;
}

.searchResult {
  cursor: pointer;
}

.searchResult:hover {
  background-color: #ccccff;
}
