.accountTable {
  width: 100%;
}

.table-header {
  background-color: #6D9CC8;
}

.table-row {
  background-color: rgb(226, 238, 250);
  padding: 1 0 1 0;
  border-top: 1px solid #6D9CC8;
}

.column-header-label {
  color: #ffffff;
  padding-left: 15px;
  margin-top: 8px;
}

.column-header-info {
  color: #ffffff;
  font-size: 8px;
  padding-left: 15px;
  display: block;
}

.asterisk {
  color: #ff0000;
}

.button-div {
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 100px;
  position: sticky;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 0;
}

.icon-container {
  color: #ffffff;
  background-color: #FF0015;
  border-radius: 6px;
  padding: 4px 5px 8px 6px;
  cursor: pointer;
  margin-left: 10px;
}